<script type="text/javascript">
    var Metrics = {
        mixpanel_people_set: function(name_or_object, value) {
            /**
             * name_or_object - name (string) or object {key: value} for bulk people set
             */
            var distinct_id;
            if (mixpanel.get_distinct_id !== undefined) {
                distinct_id = mixpanel.get_distinct_id();
            }
            {% if not DEBUG and METRICS_EXCLUDE_USER_DOMAIN %}
                if (distinct_id && distinct_id.indexOf('@{{ METRICS_EXCLUDE_USER_DOMAIN }}') != -1) {
                    // do not track
                    return;
                }
            {% endif %}

            if (typeof name_or_object == 'object') {
                // bulk object set
                mixpanel.people.set(name_or_object);
            } else {
                mixpanel.people.set(name_or_object, value);
            }

            // otherwise javascript stops with error if mixpanel CDN is down
            if (distinct_id) {
                mixpanel.identify(distinct_id);
            }
        },
        track_event: function(category, action, user, value, data) {
            /**
             * Track event in GA, Mixpanel, Y.Metrika
             * action should be ID without spaces (otherwise Metrika will not track it)
             */

            if (!user && mixpanel.get_distinct_id !== undefined) {
                user = mixpanel.get_distinct_id();
            }

            {% if not DEBUG and METRICS_EXCLUDE_USER_DOMAIN %}
                if (user && user.indexOf('@{{ METRICS_EXCLUDE_USER_DOMAIN }}') != -1) {
                    // do not track
                    return;
                }
            {% endif %}


            if (typeof ga !== 'undefined') {

                var label = user;
                if (label.indexOf('@') != -1) { // email, not mixpanel's uid
                    ga('send', 'event', category, action, label, value);
                } else {
                    ga('send', 'event', category, action);
                }

            }

            if (typeof yaCounter{{ metrika_id }} !== 'undefined') {
                yaCounter{{ metrika_id }}.reachGoal(action, {
                    value: value
                })
            }

            if (typeof mixpanel !== 'undefined') {

                if (typeof data === 'undefined') {
                    data = {};
                }
                data = $.extend(data, {
                    'distinct_id': user
                });

                mixpanel.track(action, data);
            }
        },

        adwords_conversion: function(name){
            /**
             * name - from METRICS['adwords_conversion'] variable
             */
            var conversions = {{ adwords_conversions|safe }};
            // window.google_conversion_id = conversions.id;
            var google_conversion_id = conversions.id;

            for (var key in conversions) {
                if (key == name) {
        {% comment %}
                    // We can not use script loading, beacause Google conversion tracking code
                    // use document.write() to write into DOM while page loading. After page loaded document.write()
                    // replaces all content.

                    for (var var_name in conversions[key]) {
                        window[var_name] = conversions[key][var_name];
                    }
                    var oHead = document.getElementsByTagName('HEAD').item(0);
                    var oScript= document.createElement("script");
                    oScript.type = "text/javascript";
                    oScript.src="//www.googleadservices.com/pagead/conversion.js";
                    oHead.appendChild( oScript);
        {% endcomment %}

                    var label =  conversions[key]['google_conversion_label'];
                    if (label) {
                        var image = new Image(1,1);
                        image.src = '//www.googleadservices.com/pagead/conversion/' + google_conversion_id +
                                '/?label=' + label + '&guid=ON&script=0'

                    }
                    break;
                }
            }

        }
    };

</script>
